@{
    ViewBag.Title = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-body" style="min-height:256px">

    <div class="col-md-3">

        @{ Html.RenderAction("SideMenu", "Test");}

    </div>

    <div class="col-md-9">
        @*Write your rest content here*@
    </div>

</div>
