@{
    ViewBag.Title = "О сервисе";
}

<h2>Интеграционная поддержка RedExpress</h2>

<ul>
    <li>Помощь в интеграции с сервисами</li>
    <li>Тестирование</li>
    <li>Примеры использования</li>
    <li>Написание интеграционных модулей "под ключ"</li>
</ul>
