@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    RedExSrv<br />
    Moscow, Russia<br />
    <abbr title="Phone"></abbr>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:admin@redexsrv.ru">admin@redexsrv.ru</a><br />
</address>