@{
    ViewBag.Title = "Добро пожаловать!";
}

<!--overview start-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Добро пожаловать!</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/">Начало</a></li>
            <li><i class="fa fa-laptop"></i>Добро пожаловать</li>
        </ol>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <p>
            Сайт интеграционной поддержки клиентов курьерской службы
            <a href="http://redexpress.ru" target="_blank" style="font-weight:600; color: darkred;"><i class="fa fa-car"></i> RedExpress</a>
            <br />
            <small>Интеграция информационных систем интернет магазинов с сервисами <strong>RedExpress</strong></small>
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/Home/About" role="button">Подробнее &raquo;</a> &nbsp;
            <a class="btn btn-primary btn-lg" href="/Home/Contact" role="button">Форма для обратной связи &raquo;</a>
        </p>
    </div>
</div>

