@{
    ViewBag.Title = "Добро пожаловать!";
}

<!--overview start-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Добро пожаловать!</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Home/Index">Home</a></li>
            <li><i class="fa fa-laptop"></i>Добро пожаловать</li>
        </ol>
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>